@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  top: 0;
  z-index: 1000;
  background-color: #f8f5f5;
  position: sticky;

  width: 100%;
  transition: background-color 0.3s ease;
}

.logo img {
  width: 100px;
  height: 100px;
}
  

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  color: #3a1e1e;
  /*color: #0a0808;*/
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;

  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: bold; /* Ensure bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
}

.navigation ul li a:hover {
  color: #ffcc00;
}

.navigation ul li.active a {
  color: #ffcc00;
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: bold; /* Ensure bold font weight */
  text-shadow: 2px 2px 4px rgba(150, 160, 11, 0.3); /* Add a soft text shadow */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
}

.headerUser {
  align-items: right;
}


/* Media Query for smaller screens */
@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        display: none;
    }

    header h1 {
        margin-bottom: 10px;
    }

    /* Style for the menu icon */
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* components/BackToTop.css */

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.back-to-top.visible {
  opacity: 1;
}

.back-to-top:hover {
  background-color: #555;
}


.content {
  padding-top: 80px; /* Adjust this value according to your header's height */
  margin-bottom: 100px; /* Adjust the value based on your design */
}

/*
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;

  flex-direction: column;  
}
*/

.navigation {
  flex-grow: 1;
  text-align: center;
}

.navigation a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.footer {
  flex-shrink: 0;
  width: 100%;
  background-color: #6e6868;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding: 10px 0; /* Adjust padding for smaller screens */
  }
}


.right-aligned {
  margin-left: 50%;
  margin-right: 20%;
}

.intro {
  margin-top: 80px;
  margin-bottom: 150px;
}

.name {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 4rem; /* Adjust font size as needed */
  font-weight: bold; /* Ensure bold font weight */
  color: #333; /* Choose your desired text color */
  text-align: center;
  /* Add any additional styling, such as text shadow or letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
  margin-top: 40px;
}

.role {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  color: #9e9696; /* Choose your desired text color */
  text-align: center;
  /* Add any additional styling, such as text shadow or letter spacing */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
  letter-spacing: 5px; /* Adjust letter spacing as needed */
}

.writeUp1Container {
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  text-align: justify;
  color: #3f0f0f; /* Choose your desired text color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
}

.writeUp2Container {
  margin-left: 20%;
  margin-right: 20%;
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  text-align: center;
  color: #9e9999; /* Choose your desired text color */
  text-shadow: 1px 1px 2px rgba(235, 203, 203, 0.3); /* Add a soft text shadow */
}

.writeUp3Container {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  text-align: justify;
  color: #382c2c; /* Choose your desired text color */
  text-shadow: 1px 1px 2px rgba(8, 8, 8, 0.3); /* Add a soft text shadow */
}

.writeUp4Container {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  text-align: justify;
  color: #bbb6b6; /* Choose your desired text color */
  text-shadow: 1px 1px 2px rgba(100, 98, 98, 0.3); /* Add a soft text shadow */
}

.ProfileIconContainer {
  display: flex;
  justify-content: center; /* horizontally center */
  align-items: center; /* vertically center */
  height: 15vh; /* or any height as needed */
}

.resumeButton {
  margin-top: 10px;
  margin-left: 50%;
  margin-right: 35%;
  transform: translate(-50%, -50%);
}

.headings {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 3rem; /* Adjust font size as needed */
  font-weight: bold; /* Ensure bold font weight */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
  margin-top: 40px;
  margin-bottom: 40px;
}

.sub-headings {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: bold; /* Ensure bold font weight */
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-headings1 {
  font-family: sans-serif; /* Specify your preferred font family */
  font-size: 1rem; /* Adjust font size as needed */
  font-weight: bold; /* Ensure bold font weight */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a soft text shadow */
  letter-spacing: 2px; /* Adjust letter spacing as needed */
}

.skillsCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.cardRow {
  display: flex;
}


.card {
  width: 60%;
  height: 30vh;
  margin: 10px;
  border: 1px solid white;
  background-color: black;
  color: bisque;
}

.experienceContainer {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.tabular-div {
  display: table;
  width: 100%;
  border-collapse: collapse;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  flex: 1;
  min-height: 40vh;
}

.tabular-row {
  display: table-row;
}

.tabular-cell {
  display: table-cell;
  padding: 10px;
}

.tabular-div:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border:  #000;
}

.toolsContainer{
  display: flex;
  flex-wrap: wrap;
}

.toolDiv {
    margin: 2px;
    color: black;
    text-align: center;
    border: 1px solid black; /* Adjust the border width as needed */
    padding: 5px; /* Adjust padding to control space between text and border */
    display: inline-block; /* Ensure the border wraps tightly around the text */
    background-color: lightblue; /* Just for visualization */
    margin: 2px; /* Adjust margin as needed */
}

.works-div {
  width: 100%;
  border-collapse: collapse;
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  flex: 1;
  min-height: 40vh;
}

.borderDownDiv {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 10px 10px 10px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto new lines */
  flex-direction: column;
}

.custom-card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  background-color: #0c0c0c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  padding: 1.25rem;
  margin-bottom: 1rem;

  flex: 1 0 20%; /* Set a fixed width for each item */
  margin: 5px; /* Add some spacing between items */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

@media only screen and (max-width: 600px) {
  /* On devices with a maximum width of 600px, change the items to stack horizontally */
  .cardContainer {
      flex-direction: column;
  }
  
  .custom-card {
      flex-basis: calc(100% - 10px); /* Each item takes up full width, considering the margin */
      width: 100%;
  }
}



/* Additional styles for card header */
.custom-card-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding-bottom: 0.75rem;
  margin-bottom: 0.75rem;
}

/* Additional styles for card title */
.custom-card-title {
  margin-bottom: 0;
  font-size: 1.25rem;
  color: #bbb;
}

/* Additional styles for card body */
.custom-card-body {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto; /* Define the number and size of columns */
  /* Optional: Add more properties for column width, row height, etc. */
}

.grid-item {
  border: 0px none #000; /* Optional: Add borders for cell separation */
  padding: 8px; /* Optional: Add padding for cell content */
}

#span6 {
  grid-column: span 2; /* This grid item spans across 2 columns */
}

